<h1>Search Ruby Weekly for your favorite stuff!</h1>

<p>
  Search for any Ruby related topics you're interested in. This is a very simple search, looking for
  words that start with a string.
</p>

<%= form_with url: search_path, method: :post do |form| %>
  <%= form.label :keywords %>
  <%= form.text_field :keywords %>
  <%= form.submit 'Search' %>
<% end %>

<div id="results">
  <%= render 'results', results: @results || [] %>
</div>
