<h1>Sloth Finder - Ruby Weekly edition</h1>

<img src="<%= asset_path("rich-sloth.png") %>" alt="Rich Sloth" class="rich-sloth-image">

<p>
  Sloth Finder helps you encounter the most amazing Ruby articles around your favorite
  Ruby and Rails topics for the past decade. This tool was made because the creator, a Sloth in human form, was
  interested in all the best articles around his favorite weird Ruby niche, so he built a primitive
  search and looked for:
</p>

<code>
api, openapi, automation, rest, graphql, rpc, soap, webhook, scrap, event-driven, serializ
</code>

<p>
  What followed was a wealth of articles full of knowledge, understanding of his niche, and
  potential for connecting to potential leads and partners. Instead of calling it a day, he
  decided to share the tool and some extra knowledge around it with the community.
</p>

<h2>But I have no niche.</h2>

<p>
  If you are a "regular" Ruby or Ruby dev who doesn't care about anything else than
  vanilla, there must be things that still interest you. Here's some
  inspiration:
</p>

<code>
  ruby 4
  rails 8
  sinatra
  hotwire
  phlex
  enumerable
  rbs
  easter egg
  ractors
  postgres
  sqlite
  deploy
  kamal
  danger on rails
  sidekiq
  solid queue
  beer
  ...
</code>

<h2>What makes it Sloth?</h2>

<ul>
  <li class="emoji-sloth">Minimal effort development for max benefit.</li>
  <li class="emoji-search">It's the laziest search ever invented: We are looking for case insensitive words with open ends; e.g. "api" will match "API", "APIs", "apimatic". It goes back to issue 201 in 2014. Let me know if you want the earlier ones and we'll ask Peter Cooper if we can scrape some of the old XML archives.</li>
  <li class="emoji-slow">It's slow: Loading times have been spotted to be around 1-2 seconds on local and more in prod. Chill is king; good things take time.</li>
  <li class="emoji-rails">Written with the laziest tech stack ever imagined, the one-sloth-framework: Rails on SQlite deployed on Render ($7.25 server costs, <a href="https://buymeacoffee.com/richstoneio" target="_blank">consider buying a banana for Sloth if you got any value from the tool</a>). We'll move this to Rails 8 and Kamal 2 on a proper server once the future is here.</li>
  <li class="emoji-claude">Frontend "design" outsourced to Claude Opus.</li>
  <li class="emoji-tests">Obviously, no one wrote tests for this simple MVP (the Sloth promised adding some, if we go past MVP and add more features).</li>
</ul>

<%= form_with url: findings_path, method: :post do |form| %>
  <%= form.label :keywords, class: "keywords-label" %>
  <%= form.text_field "findings[keywords]", placeholder: "comma-separated keywords or phrases" %>
  <%= form.submit "Find 🦥" %>
<% end %>

<div id="results">
    <%# Necessary to display the flash alert in the turbo stream, otherwise it's %>
    <%# hard to make it to behave properly (e.g., does not disappear when search is triggered). %>
    <%# Leads to poor UX, where the alert is shown instead of the previous results. %>
    <% if flash.alert %>
      <div class="alert alert-danger">
        <%= flash.alert %>
      </div>
    <% end %>
  <%= render "results", results: @results || [] %>
</div>
